@model RenewPasswordViewModel
@{
    ViewData["Title"] = "Renew Password";
}

<div class="container">
    <h2>Renew Password</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <h2 class="col-12 text-center">Renew Password</h2>
        <div class="col-12 col-md-6 offset-md-3">
            <partial name="Partials/ViewMessages" />
            <form asp-action="RenewPassword" asp-controller="Auth" method="post">
                <input type="hidden" asp-for="Token">
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">New password</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm password</label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="site-btn mr-auto">Submit</button>
                    <a asp-controller="Auth" asp-action="Login" class="site-btn mr-2">Login</a>
                    <a asp-controller="Auth" asp-action="Register" class="site-btn">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}